<div class="grid">
    <div class="col-12">

        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="incluir()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedServicos()" [disabled]="!selectedServicos || !selectedServicos.length"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="servicos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nome','valor']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Exibindo {first} de {last} total {totalRecords} entries" [(selection)]="selectedServicos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Serviços</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="listar($event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                        <th pSortableColumn="name">Valor <p-sortIcon field="valor"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-servico>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="servico"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nome</span>
                            {{servico.nome }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Valor</span>
                            {{servico.valor}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editar(servico)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="excluir(servico)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
